
.swb_editor {
    max-width: 1000px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    padding: 0;
}

.swb_editor_commands {
    width: 100%;
    padding: 5px 0;
    background-color: #F8F8F8;
}
.vline {
    display: inline-block;
    border-right: 1px solid #D1D1D1;
    margin-bottom: 2px;
    padding: 0 3px;
}
.vline:last-child  {
    border: none;
}

iframe {
    border: none;
    border-top: 1px solid #D1D1D1;
    width: 100%;
    min-height: 500px;
}

button {
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 15px;
    padding: 5px;
    min-width: 30px;
    min-height: 30px;
}
button.on {
    background-color: #D1D1D1;
}
select {
    min-height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
}

#swb_editor_input {
    display: none;
}